<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProFile - Login</title>
    <link rel="stylesheet" href="sign-in.component.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <script type="module" src ="signIn.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Login to ProFile</h1>
    </header>

    <main>
      <div class="container">
        <form id="loginForm">
          <!-- Back Button -->
          <div class="back-button-container">
            <button id="back-to-index" class="back-button">
              Back to Index
            </button>
          </div>

          <h2>Sign In</h2>
          <div class="form-group">
            <input type="text"  id="email" placeholder="Username" required />
          </div>
          <div class="form-group">
            <input type="password" id="password" placeholder="Password" required />
          </div>
          <button id="loginbtn" type="submit">Sign In</button>
          <div class="footer">
            <p>&copy; 2024 ProFile Application. All rights reserved.</p>
          </div>
        </form>

        <!-- New Section for "Don't have an account?" -->
        <p class="signup-link">
          Don’t have an account?
          <a href="../sign-up/sign-up.component.html">Create one</a>.
        </p>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 ProFile. All Rights Reserved.</p>
    </footer>

    <script>
      document
        .getElementById("loginForm")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent actual form submission

          const email = document.getElementById("email").value;

          // Redirect to home page
          window.location.href = "../home/home.component.html";

          localStorage.setItem("email", email);  
        });

      // Navigate back to the index page
      document
        .getElementById("back-to-index")
        .addEventListener("click", function () {
          window.location.href = "../../index.html"; // Adjust the path as necessary
        });
    </script>
  </body>
</html>
